.App {
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  position: absolute;
  top: 130px;
  left: 100px;
}

body {
  background-color: #001f3f;
}
